@import url('https://fonts.googleapis.com/css?family=Lato');

body {
	background-color: #f0f0f0;
	font-family: Lato,sans-serif,Arial;
	font-size: 1rem!important;
}

#github-profile {
	width: 640px;
	margin: 0 auto;
	text-align: center;
}